@tailwind base;
@tailwind components;
@tailwind utilities;

:root[data-font-size="small"] { font-size: 14px; }
:root[data-font-size="medium"] { font-size: 16px; }
:root[data-font-size="large"] { font-size: 18px; }
